{% extends "layout.html" %}
{% block content %}
<div class="container mt-5 ">
  <div class="row justify-content-center ">
    <div class="col-md-6">
      <div class="card shadow p-4 rounded-4">
        <h3 class="text-center mb-4">Login</h3>
        
        <form action="{{ url_for('login') }}" method="POST">
          <div class="mb-3">
            <label for="UserName" class="form-label">Username/Email</label>
            <input type="text" class="form-control" id="UserName" name="UserId" required autofocus>
          </div>

          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="Password" name="Password" required autocomplete="off">
              <button type="button" class="btn btn-outline-secondary" id="togglePassword">👁️</button>
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100 rounded-pill mt-2">Login</button>
        </form>

        <p class="text-center mt-3">
          Don't have an account?
          <a href="{{ url_for('register') }}">Register here</a>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
    const passwordInput = document.getElementById('Password');
    const toggleBtn = document.getElementById('togglePassword');
    toggleBtn.addEventListener('click', () => {
  const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
  passwordInput.setAttribute('type', type);
  toggleBtn.textContent = type === 'password' ? '👁️' : '🙈';
});
</script>
{% endblock %}